.input {
	font-size: 1.6rem;
	line-height: calc(24 / 16);
	font-weight: 300;
	letter-spacing: 0.02em;
	border: none;
	padding: 0;
	padding-bottom: 8px;
	border-bottom: 1px solid $primary_app_color;
}
