@import '../../../../../theme/variable.module.scss';

.header {
	padding: 15px 30px;
	border-bottom: 1px solid $grey_app_color;
}

.link {
	text-transform: uppercase;
	color: $primary_app_color;
	&:hover {
		background: linear-gradient(90deg, #f34242 0%, #f1408b 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
