@import'../../../../../theme/variable.module.scss';

.header{
	
	padding: 15px 30px;
	border-bottom: 1px solid $grey_app_color;
	
}

.navigationProfile{
	text-align: right;
}
.dashboardButton{
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 20px !important;
}