@import '../../../../theme/variable.module.scss';


.container{
	max-width: 1300px;
	margin: 0 auto;
}
.footer{
	
	text-align: center;
	padding-top: 81px;
	padding-bottom: 57px;
	h2{
	 
	 padding: 35px 0;
	 font-weight: 400;
	}
	h3{
	
		text-align: center;
	}
	img{
		width:184.13px;
		height: 72.58px;
	}
	.footerContentLeft{
		text-align: left;
		h3{
			font-family: 'Montserrat', sans-serif;
			color: $dark_grey_app_color;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 30px;
		}
	}
	.footerBottomContentLeft{
		
		h3{
			font-family: 'Montserrat', sans-serif;
			margin-top: 52px;
			text-align: left;
			color: $dark_grey_app_color;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 30px;
		}
	}
	.footerBottomContentRight{		
		text-align: right;
		h3{
			
			font-family: 'Montserrat', sans-serif;
			margin-top: 52px;
			
			color: $dark_grey_app_color;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 30px;
		}
	}
	.footerContentCenter{
		img{
			width :18.74px;
			height:18.74px;
		}
	}
	.footerContentRight{
		text-align: right;
		h3{
			font-family: 'Montserrat', sans-serif;
			color: $dark_grey_app_color;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 30px;
		}
	}
	.footerTitle{
		h2{

			font-weight: bolder;
			padding-top: 0;
		}
		h3{
		
			font-weight: 300;	
			text-align: left;		
		}
		span{
			font-weight: 700;
		}
		a:hover{
			h3{
				color:$red_app_color;			
			}	
		}

	}
	
}
.divider{
	background-color: $red_app_color;
	height: 2px;
}
.dividerVertical{	
	height: 1.7rem !important; 
	background-color: $grey_app_color;
	margin-left: 20px !important;
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	.footer{
		margin: 50px 0;
		text-align: center;
		padding: 15px 20px;

		h2{
		 color:$secondary_app_color;
		 padding: 35px 0;
		 font-weight: 400;
		}
		h3{
			text-align: left;
		}
		.footerTitle{
			h2{
	
				font-weight: bolder;
				padding-top: 0;
			}
			h3{
				color:$secondary_app_color;
				font-weight: 300;			
				text-align: left;
			}
			
			span{
				font-weight: 700;
			}
			a:hover{
				h3{
					color:$red_app_color;			
				}	
			}
	
		}
		
	}
	.dividerVertical{	
		height: 1px !important; 
		background-color: $grey_app_color;
		margin-left: 0px !important;
	}
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */