@import '../../../theme/variable.module.scss';


.container{
	max-width: $max-width_container_lg;
	margin :0 auto;
}
.spin{
	padding: 100px 0;
	text-align: center;
}
.logo{
	margin: auto 0;
	img{
		max-width: 90px;
		max-height: 65px;
	    
	}
}
.main{
	margin-top: 139px;
	margin-bottom: 184px;
}
.actionButton{
	position: absolute;
	right:24px;
		
}
.mainSection{
	padding-top: 40px;
	padding-bottom: 72px;
}
.quoteButton{
	position: absolute;
	bottom: 48px;
}
.slideContainer{
	max-width: 1500px;
	margin: 0 auto;
	text-align: center;
}
.slide{
	border: 1px solid $light_grey_app_color;
    	width: fit-content !important;
    	border-radius: 25px;
	img{
		width: 300px;
		border-radius: 25px;
	}
}
.companyDetails{
	display: flex;
	
	margin-bottom: 40px;
	.logoImg{
		border-radius: 25px;
    		object-fit: contain;
	}
	h1{
		margin-left: 16px;
		margin-right: 9px;
		margin-bottom: 0;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		/* identical to box height, or 133% */
		padding: 8px 0;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}

	h4{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 20px;
		/* identical to box height, or 167% */

		letter-spacing: 0.02em;

		/* Secondary / Small */
		margin-bottom: 0;

		color: #878787;
		img{
			margin-right: 4px;
			padding:14px 0;
		}
	}
}

.companyDetailsTab{
	img{
		border-radius: 4px;
	}
	h1{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
		padding:30px 0;
	}
	h2{
		font-family: 'Inter',sans-serif;		
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 26px;
		padding:30px 0;
		letter-spacing: 0.02em;

	}
	p{
		font-family: 'Montserrat',sans-serif;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		opacity: 0.5;
	}
	h3{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 26px;
		opacity: 0.7;
		
	}
	
}
.supplierSectionTopBorder{
	border-top:0.5px solid rgba(135, 135, 135, 0.5);
}
.supplierSectionBottomBorder{
	border-bottom: 0.5px solid rgba(135, 135, 135, 0.5);
}
.supplierSection{
	
	padding: 40px 0;
	h2{
		width: 625px;		
		margin-bottom: 16px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		letter-spacing: 0.02em;

	}
	h3{
		width: 625px;		
		margin-bottom: 16px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */

		letter-spacing: 0.06em;

		/* Black */

		color: #303030;
	}
	ul{
		width: 625px;		
		padding: 0 !important;
		overflow-wrap: break-word;	
	}
	ul li{
		display: inline;
		text-decoration: underline;
		list-style-type:dot;	
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */
		padding-inline-start:0;
		letter-spacing: 0.02em;
		
		a{
			color: $primary_app_color;
			margin-right: 53px;
		}
	}
}
.companyDetailsSection{
	h3{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 26px;
	}
	p{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
		opacity: 0.5;
	}
	h4{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
	}
	
}
hr{
	background-color: $light_grey_app_color;
	margin: 50px 0;
}

.companyDetailsImg{
	text-align: center;
	img{
		background-color: $mid_white_app_color;
		border-radius: 15px;		
	}
	p{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		
	}
	h5{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
		opacity: 0.5;
	}

}

.buttonSection{
	width: 100%;
	.buttonRequest{	
		background-color: $primary_app_color;
		color: $secondary_app_color;
	}
}




.tabNavigation{
	border-bottom: 1px solid $red_app_color;
	button{
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		background-color: $secondary_app_color;
		color:$primary_app_color;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		font-size: 17px;
		line-height: 26px;
		padding: 10px;
	}

	.activeTab{
		background-color: $red_app_color;		
		color:$secondary_app_color;
	}
}
.viewMoreButton{
	width: 100%;
	font-family:' Montserrat',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 26px;
}
.shopButton{
	width: 100%;
	background-color: $primary_app_color !important;
	color: $secondary_app_color !important;
	font-family:' Montserrat',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 26px;
}

.companyDetailsFooter{
	h5{
		font-family: 'Inter',sans-serif;		
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
	}
	
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
	.container{
		max-width: 350px;
		margin: 0 auto;
	}
	.section{
		padding: 10px 0;
	}
	
}


/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */