@import '../../../../theme/variable.module.scss';


.container{
	max-width: 1200px;
	margin:60px auto;
}

.mainSection{
	h3{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 30px;
		line-height: 40px;
		color:$red_app_color;
		letter-spacing: 0.04rem;
		margin-bottom: 8px;
	}
	p{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 26px;
		margin-bottom: 50px;
	}
}

.leadSection{	
	h5{
		font-family:' Inter',sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
	}
	p{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 30px;
		color: $dark_grey_app_color;
		margin-bottom: 8px;
	}
	h4{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}
	.divider{
		margin: 8px 0;
	}
	.leadMainSection{
		margin: 10px 0;
		border: 1px solid $mid_white_app_color;
		border-radius: 15px;
		padding: 10px;
	}
}
.opportunityButton{
	text-align: left;
	width: 320px;
	font-family: 'Inter',sans-serif;
	font-style: normal;
	font-weight: 500;

	 img{
		margin: 0 15px;
	}
 	
}
.directMessageButton{
		text-align: left;
	width: 320px;
	font-family: 'Inter',sans-serif;
	font-style: normal;
	font-weight: 500;
	
	color:$primary_app_color;
	
	img{
	       margin: 0 15px;
	       color: $primary_app_color;
       }	
}
.messageSection{
	text-align: right;
	.messageButton{
		text-align: center;
		width: 110px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 26px;
	}
	
}
.action{
	
	.cancelButton{
		width: 100%;	
		img{
			margin: 0 15px;
		}
	}
	.acceptButton{
		background-color: $primary_app_color;
		color: $secondary_app_color;	
		width: 100%;
		img{
			margin: 0 15px;
		}
	}
}
