@import '../../../theme/variable.module.scss';

.container{
	max-width: $max-width_container_lg;
	margin: 0 auto;
}
.section {
	padding: 60px 0;
}
.filterOption{
	h3{
		font-family:'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 26px;
		padding-top: 32px ;
	}
}
.searchFilter{
	h3{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		opacity: 0.5;
	}
}

.rating{
	li{
		padding: 0;
	}
}

.productImg{
	//productImage
	img{
		border-radius: 4px;
	}
	.ratingText{
		span{
			text-decoration: underline;
			opacity: 0.7;
		}
	}
	.ratingTextDivider{
		background-color: $primary_app_color;
		opacity: 0.2;
	}
	.logoImg{
		text-align: center;
		padding: 0 10px;
		img{

			border-radius: 35px;
		}
		
	}
	h2{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		margin: 0;
	}
	h3{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 14px;
	}
	p{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 14px;
	}
}
.wishlistButton{
	font-family: 'Inter',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 25px;	
}
.contactButton{
	width: 100%;
	font-family: 'Inter',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	background-color: $primary_app_color !important;
	color: $secondary_app_color !important;
	margin-bottom: 25px;	
}
.dividerForServices{
	min-width: 30px !important;
	max-width: 30px !important;
	margin: 4px 0!important;
}
.tag{
	padding: 2px;
	margin: 5px 0 !important;
	width: 100%;
}
.loader{
	text-align: center;
}
.paginationStyle{
	li{
		padding: 0;
	}
	text-align: center;
}
.cardLink{
	color:$primary_app_color

}
.cardLink:hover{
	color:$red_app_color
}