@import '../../../theme/variable.module.scss';

.main{
	background-color: $red_app_color;	
    color:$secondary_app_color;
    text-align: center;
    font-size: 35px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}