@import '../../../../theme/variable.module.scss';

.container{
	max-width: 636px;
	margin: 0 auto;
}

.mainSection{
	margin-top: 128px;
	h1{
		margin-bottom: 16px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 48px;
		/* identical to box height, or 133% */
		
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}	

	h3{
		margin: 16px 0;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */

		letter-spacing: 0.06em;
	}
}
.actionButton{
	margin-top: 76px;
	margin-bottom: 298px;
	h2{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */

		letter-spacing: 0.06em;
	}
}