@import '../../../theme/variable.module.scss';

.button {
	color: $secondary_app_color;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 40px;
	transition: 800ms;
	background: linear-gradient(90deg, #f34242 0%, #f1408b 100%);
}
.button:hover {
	transition: 800ms;
	background: linear-gradient(90deg, #f1408b 0%, #f34242 100%);
}

.button:active {
	opacity: 0.6;
}

button,
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}