@import '../../../../theme/variable.module.scss';

.progressBar{
	width: 907px;	
	margin: 0 auto;
	margin-top: 64px;
	margin-bottom: 96px;
	height: 4px;
	background: #f6c6d9;	

	.bar{
		height: 4px;
		background: linear-gradient(90deg, #F34242 0%, #F1408B 100%);		
	}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.progressBar{
		width: 100%;	
		margin-top: 0px;
		margin-bottom: 48px;
	}
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
