@import '../../../theme/variable.module.scss';

.header {
	&-wrapper {
		padding: 40px 0;
	}
	&-content {
		display: flex;
		align-items: center;
		&__logo {
			width: calc((331 / 1372) * 100%);
		}
		&__search {
			width: calc((365 / 1372) * 100%);
			& input {
				width: 100%;
				max-width: 325px;
			}
		}
	}
	&-links {
		list-style: none;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		width: calc((440 / 1372) * 100%);
		&__link {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__sign {
		width: calc((236 / 1372) * 100%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		& a {
			display: inline-block;
		}
	}
}

@media screen and (max-width: 1380px) {
	.header {
		&-content {
			&__logo {
				width: calc((200 / 1372) * 100%);
			}
			&__search {
				width: calc((325 / 1372) * 100%);
				padding-right: 40px;
			}
		}
		&-links {
			width: calc((515 / 1372) * 100%);
			&__link {
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__sign {
			width: calc((332 / 1372) * 100%);
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		&-content {
			justify-content: space-between;
			&__search {
				display: none;
			}
		}
		&-links {
			display: none;
		}
		&__sign {
			display: none;
		}
	}
}
