$primary_app_color: #303030;
$secondary_app_color:#ffffff;

$off_grey_app_color: #F9F8F7;
$light_grey_app_color:#C4C4C4;
$dark_grey_app_color:#808080;
$light_black_app_color:#1e1919;
$off_white_app_color:#C7C7C7;
$off_orange_app_color:#F2EBE5;

$pink_app_color:#F34242;
$green_app_color:#22B16D;
$yellow_app_color:#F2D01C;
$orange_app_color:#F29B18;
$red_app_color:#FF4848;
$dark_red_app_color: #8D2C2C;
$blue_app_color:#3C86DD;
$mid_white_app_color:#ededed;
$grey_app_color: #C4C4C4;

$light_white_app_color:#f3f3f3;


// --------------------------------Width---------------------------------

$max-width_container_lg: 1370px;