$primary_app_color: #303030;
$secondary_app_color: #ffffff;

$black: #000;

$off_grey_app_color: #f9f8f7;
$light_grey_app_color: #c4c4c4;
$dark_grey_app_color: #808080;
$light_black_app_color: #1e1919;
$off_white_app_color: #c7c7c7;
$off_orange_app_color: #f2ebe5;

$pink_app_color: #f34242;
$green_app_color: #22b16d;
$yellow_app_color: #f2d01c;
$orange_app_color: #f29b18;
$red_app_color: #e14a48;
$dark_red_app_color: #8d2c2c;
$blue_app_color: #3c86dd;
$mid_white_app_color: #ededed;
$grey_app_color: #c4c4c4;

$light_white_app_color: #f3f3f3;

// --------------------------------Width---------------------------------

$max-width_container_lg: 1372px;
$max-width_container_md: 960px;
$max-width_container_s: 750px;
$max-width_container_xs: 540px;
