$primary_app_color: #050000;
$secondary_app_color:#ffffff;

$light_grey_app_color:#C4C4C4;
$dark_grey_app_color:#808080;
$light_black_app_color:#1e1919;
$off_white_app_color:#C7C7C7;
$off_orange_app_color:#F2EBE5;

$pink_app_color:#E23AB3;
$green_app_color:#22B16D;
$yellow_app_color:#F2D01C;
$orange_app_color:#F29B18;
$red_app_color:#E14A48;
$blue_app_color:#3C86DD;
$light_grey_app_color:#1d1919;
$grey_app_color: #C4C4C4;