@import '../../../../theme/variable.module.scss';

.why {
	&__title {
		margin-bottom: 56px;
	}
	&-content {
		display: grid;
		grid-template-columns: calc(50% - 12px) calc(50% - 12px);
		grid-gap: 24px;
		&__text {
			& p {
				font-size: 1.8rem;
				line-height: calc(26 / 18);
				font-weight: 300;
				letter-spacing: 0.06em;
			}
		}
	}
	&-answer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 24px;
		&__answer {
			background: linear-gradient(90deg, #f34242 0%, #f1408b 100%);
			color: $secondary_app_color;
			padding: 32px;
		}
		&__image {
			& img {
				max-width: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&__sign {
			& .category-item {
				height: 100%;
			}
		}
	}
}

@media screen and (max-width: 1380px) {
	.why {
		&-content {
			grid-template-columns: calc(65% - 12px) calc(35% - 12px);
		}
	}
}

@media screen and (max-width: 991px) {
	.why {
		&__title {
			margin-bottom: 40px;
		}
		&-content {
			grid-template-columns: 100%;
			grid-gap: 32px;
			&__text {
				order: -1;
				& p {
					margin: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.why {
		&-answer {
			&__sign {
				& .category-item {
					display: flex;
				}
			}
		}
		&-content {
			&__text {
				& p {
					font-size: 1.6rem;
					line-height: calc(24 / 16);
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.why {
		&-answer {
			grid-gap: 40px;
			grid-template-columns: 100%;
			&__answer {
				min-height: 224px;
			}
			&__image {
				&_m_hidden {
					display: none;
				}
			}
		}
	}
}
