@import '../../../theme/variable.module.scss';

.container{
	max-width: 1300px;
	margin: 40px auto;
}
.content{

	h1{
		padding-top: 20px;
		font-family: "Inter", sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		letter-spacing: 1px;
	}
	h2{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: bold;
	}
	h3{
		font-family: 'Montserrat',sans-serif;
	}
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	.container{
		max-width: 350px;
		margin: 0 auto;
	}	

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */