.categories {
	padding-top: 128px;
	&__title {
		margin-bottom: 48px;
		max-width: 600px;
	}
	&-content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 24px;
	}
}

@media screen and (max-width: 991px) {
	.categories {
		&__title {
			margin-bottom: 40px;
		}
		&-content {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media screen and (max-width: 576px) {
	.categories {
		&__title {
		}
		&-content {
			grid-template-columns: 100%;
		}
	}
}
