@import '../../../../theme/variable.module.scss';
.container{
	max-width: 1370px;
	margin: 0 auto;
}
.mainSection{
	margin-top: 96px;
	border-top: 0.5px solid #C3C3C3;
	padding-top: 32px;
	.spin{
		text-align: center;
	}
	h2{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		/* identical to box height, or 133% */

		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-bottom: 32px;
	}	
	h4{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */

		letter-spacing: 0.02em;
		margin-bottom: 56px;

	}
}
.inputSection{
	margin-top: 64px;
	.inputSectionElements{
		margin-bottom: 48px;
	}
	h3{
		margin-top: 92px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		letter-spacing: 0.02em;

	}
}

.actionButtonEdit{
	margin-bottom: 108px;
}
.uploadButton{
	background-color: $secondary_app_color;	
	border: 0.5px solid $primary_app_color;
	width: 209px;
	height: 209px;
	border-radius: 130px;
}
.editButton{
	margin-top:160px ;
}

.main
.mainForm{
	border-radius: 4px;
	padding: 5px 10px;
	border: 1px solid $light_grey_app_color;
	h4{
		font-size: 17px;
		font-weight: 500;
		font-family: 'Inter',sans-serif;
		text-align: center;
		margin-bottom: 20px;
	}
}
.actionSection{
	margin-top:136px;

	.actionButton{		
		width: 100%;
		margin-bottom: 24px;
		text-align: left;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		letter-spacing: 0.02em;
		

	}
	.active{
		border-top: 0.5px solid #C3C3C3;
		width: 220px;
		color: #ADADAD;
		padding-top: 24px;
	}
}
.responsiveHeader{
	display: none;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.container {
		max-width: 350px;
		margin: 0 auto;
	}
	.responsiveHeader{
		margin-top: 88px;
		display: block;
		h2{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			/* identical to box height, or 133% */

			letter-spacing: 0.02em;
			text-transform: uppercase;
		}
	}	
	.mainSection{
		margin-top: 8px;
		border-top: 0.5px solid #C3C3C3;
		padding-top: 32px;
		.spin{
			text-align: center;
		}
		h2{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			/* identical to box height, or 133% */
	
			letter-spacing: 0.02em;
			text-transform: uppercase;
			margin-bottom: 32px;
		}	
		h4{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			/* identical to box height, or 150% */
	
			letter-spacing: 0.02em;
			margin-bottom: 56px;
	
		}
	}
	.editButton{
		margin-top: 0;
		margin-left:175px ;
	}	
	.inputSection{
		margin-top: 24px;
		.inputSectionElements{
			margin-bottom: 48px;
		}
		h4{
			margin-bottom: 8px;
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			/* identical to box height, or 133% */
	
			letter-spacing: 0.02em;
	
		}
	}
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
