@import '../../../../theme/variable.module.scss';

.tabs{
	
      }
      
.tabsTitles {
	list-style: none;
	padding: 0px;
	margin: 0;
	display: flex;
	margin-left: -1px;
}

.tabTitle {
	background-color:$red_app_color;
	display: inline-block;
	padding: 10px;
	color:$secondary_app_color;
	cursor: pointer;
	margin-left: 1px;
}
.tabTitleActive {
	background-color:$red_app_color;
	color:$secondary_app_color;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 500;
	font-size: 17px;
	line-height: 26px;
}
.tabContent {
	border-top: 1px solid $red_app_color;
	padding: 5px;
	margin: 0;

	letter-spacing: 4%;
	font-family: 'Inter', sans-serif;
	h2{		
		font-weight: 800;
		font-size: 38px;
		line-height: 52px;
		width: 540px;
		margin-top: 24px;
		height: 104px; 
	}
	h4{
		color: $red_app_color;		
		font-weight: 800;
		font-size: 24px;
		line-height: 52px;
	}

}



li{
	padding: 10px;	
	font-family: 'Montserrat', sans-serif; 
	font-weight: 500;
	font-size: 17px;
	line-height: 26px;	
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

	.tabContent{
		h2{
			width: 340px;
			font-family: 'Inter',sans-serif;
			font-style: normal;
			font-weight: 800;
			font-size: 30px;
			line-height: 40px;
			margin-top: 24px;
			height: 120px;
		}
		h4{
			font-family: 'Inter',sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 30px;
		}
	}
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */