@import '../../../../theme/variable.module.scss';

.container{
	max-width: 1200px;
	margin: 0 auto;

}
.scrollSection{
	padding: 50px 0;
	h2{
		font-family: 'Inter',sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 38px;
		line-height: 52px;
	}	
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	.container{
		max-width: 350px;
		margin: 0 auto;
	}	
	.section{
		padding: 100px 0;
	}
	.scrollSection{
		h2{
			font-family: 'Inter',sans-serif;
			font-style: normal;
			font-weight: 800;
			font-size: 30px;
			line-height: 40px;
		}
	}
	
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */